/node_modules
/public/hot
/public/storage
/public/css/app.*
/public/js/app.*
/public/js/echo.js
/public/js/plugin/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
